streamlit
openai
pandas
altair
streamlit-calendar
streamlit-calendar==1.2.1
streamlit-extras
pandas
firebase-admin
python-dotenv
requests
numpy
streamlit-js-eval
streamlit-autorefresh
seaborn
plotly

